Source: piqi-ocaml
Priority: optional
Maintainer: Matthew Maurer <maurer@matthewmaurer.org>
Build-Depends:
  debhelper (>= 9),
  dh-ocaml (>= 0.9),
  piqi,
  libpiqi-ocaml-dev,
  ocaml-nox,
  ocaml-findlib
Standards-Version: 3.9.5
Section: ocaml
Homepage: https://github.com/alavrik/piqi-ocaml/

Package: libpiqirun-ocaml-dev
Architecture: any
Depends:
  ${ocaml:Depends},
  piqi,
  ocaml-findlib,
  ${shlibs:Depends},
  ${misc:Depends}
Provides: ${ocaml:Provides}
Description: Piqi OCaml Runtime Development Files
 Piqi is a multi-format data serialization system for OCaml.
 It provides a uniform interface for serializing OCaml data structures to
 JSON, XML and Protocol Buffers formats.
 .
 piqic-ocaml compiles .piqi files to OCaml source code which can serialize
 and deserialize that particular schema
 .
 This package provides the necessary libraries and programs to write OCaml
 programs which use data serialized in Piqi compatible formats.
